@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

:root {
  --main-background-color: #fffff5;
  --nav-background-color: #f4d195;
  --footer-font-color: #573924;
  --light-white-color: #ffffff;
  --dark-white-color: #f5f5f5;
  --light-yellow-color: #fffff5;
  --middle-yellow-color: #fff1b9;
  --dark-yellow-color: #ffda8e;
  --middle-beige-color: #fdd692;
  --light-orange-color: #f9a11b;
  --light-tomato-color: #ff6b6b;
  --dark-pink-color: #ec7357;
  --light-pink-color: #ffece9;
  --font-size--middle: 1.2rem;
}

.keyword-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../Utils/images/bg_keyword.jpg);
  background-size: cover;
  z-index: -1;
  font-family: 'Jua', sans-serif;
}

.keyword__title {
  font-size: 4em;
  color: wheat;
}

.keyword__row {
  text-align: center;
}

.keyword__btn {
  border: 1px solid wheat;
  background: none;
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 10%;
  cursor: pointer;
  margin: 10px;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.keyword__btn1,
.keyword__btn3 {
  color: var(--light-orange-color);
}

.keyword__btn2,
.keyword__btn4 {
  color: #fff;
}

.keyword__btn1:hover,
.keyword__btn3:hover {
  color: #fff;
}

.keyword__btn2:hover,
.keyword__btn4:hover {
  color: var(--light-orange-color);
}

.keyword__btn::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #ec7357;
  /* 배경 뒤로 보내기 */
  z-index: -1;
  transition: 0.7s;
}

.keyword__btn1::before,
.keyword__btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.keyword__btn2::before,
.keyword__btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.keyword__btn2::before,
.keyword__btn4::before {
  height: 180%;
}

.keyword__btn1:hover::before,
.keyword__btn3:hover::before {
  height: 180%;
}

.keyword__btn2:hover::before,
.keyword__btn4:hover::before {
  height: 0%;
}
