@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@400;700&display=swap');

.keyword-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../../Utils/images/keyword_bg/keyword.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.keyword__title {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  margin-bottom: 0.5em;
  color: var(--dark-yellow-color);
}

.keyword__title span:first-of-type {
  margin-right: 2em;
}

.keyword__title span:last-of-type {
  margin-left: 2em;
}

.keyword__row {
  text-align: center;
}

.keyword__btn {
  border: 1px solid wheat;
  background: none;
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 10%;
  cursor: pointer;
  margin: 1.2rem;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: 'Caveat', cursive;
  font-weight: 700;
}

.keyword__btn1,
.keyword__btn3 {
  color: var(--dark-yellow-color);
}

.keyword__btn2,
.keyword__btn4 {
  color: #fff;
}

.keyword__btn1:hover,
.keyword__btn3:hover {
  color: #fff;
}

.keyword__btn2:hover,
.keyword__btn4:hover {
  color: var(--dark-yellow-color);
}

.keyword__btn::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--dark-yellow-color);
  /* 배경 뒤로 보내기 */
  z-index: -1;
  transition: 0.7s;
}

.keyword__btn1::before,
.keyword__btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.keyword__btn2::before,
.keyword__btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.keyword__btn2::before,
.keyword__btn4::before {
  height: 180%;
}

.keyword__btn1:hover::before,
.keyword__btn3:hover::before {
  height: 180%;
}

.keyword__btn2:hover::before,
.keyword__btn4:hover::before {
  height: 0%;
}

/* @media (max-width: 530px) {
  .keyword-container {
    margin-top: 5rem;
  }

  .keyword__title {
    font-size: 1.5rem;
  }

  .keyword__btn {
    width: 30%;
    font-size: 2rem;
  }
} */

@media screen and (max-width: 960px) {
  .keyword__title {
    font-size: 4rem;
  }

  .keyword__btn {
    width: 40%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .keyword-container {
    margin-top: 5rem;
  }

  .keyword__title {
    font-size: 3rem;
  }

  .keyword__btn {
    width: 30%;
    font-size: 2rem;
  }
}
