@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-background-color);
  font-family: var(--font-family);
}

.sign-up-title {
  color: var(--footer-font-color);
  margin-bottom: 2rem;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 5rem 3.5rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  background: var(--dark-yellow-color);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.sign-up-form:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-input {
  margin: 0.3rem 0rem;
}

.sign-up-input input {
  width: 20rem;
  height: 2.2rem;
  margin-bottom: 0.7rem;
  padding-left: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-family: var(--font-family);
}

.sign-up-input label {
  font-size: var(--font-size--middle);
  width: 9rem;
  display: inline-block;
}

.sign-up-btn {
  width: 11rem;
  height: 2.2rem;
  cursor: pointer;
  font-size: var(--font-size--middle);
  font-family: var(--font-family);
  border: none;
  border-radius: 0.5rem;
  margin: 3rem 0;
  background-color: var(--light-white-color);
  transition: all 300ms linear;
}

.sign-up-btn:active {
  transform: scale(1.1);
  color: var(--light-orange-color);
  background-color: var(--middle-yellow-color);
}

.pwd-rule,
.nickname-rule {
  font-size: 0.8rem;
  color: var(--light-black-color);
  text-align: right;
  margin-top: -0.3rem;
}

.exist-nickname-false-hidden {
  font-size: 0.8rem;
  color: var(--light-error-font-color);
  text-align: right;
  margin: -0.3rem 0 0.3rem 0;
}

.sign-up-input > .email-value,
.sign-up-input > .nickname-value,
.sign-up-input > .pwd-value,
.sign-up-input > .pwdConfirm-value {
  color: var(--light-error-font-color);
  background-color: var(--light-error-background-color);
}
