@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --main-background-color: #fffff5;
  --nav-background-color: #f4d195;
  --footer-font-color: #573924;
  --light-white-color: #ffffff;
  --dark-white-color: #f5f5f5;
  --light-yellow-color: #fffff5;
  --middle-yellow-color: #fff1b9;
  --dark-yellow-color: #ffda8e;
  --middle-beige-color: #fdd692;
  --light-orange-color: #f9a11b;
  --dark-pink-color: #ec7357;
  --light-pink-color: #ffece9;
}

.footer-container {
  margin: 0;
  padding: 0;
  font-family: 'Jua', sans-serif;
  border-top: solid 0.5px var(--light-white-color);
}

footer {
  background: var(--light-white-color);
  padding: 2.5rem 0;
}

.footer-container-div {
  max-width: 1300px;
  margin: auto;
  padding: 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.social-media {
  margin: 1.25rem 0;
}

.social-media a {
  color: var(--footer-font-color);
  margin-right: 1.56rem;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: var(--dark-pink-color);
}

h1 {
  display: inline;
  color: var(--footer-font-color);
}

.right-col h1 {
  font-size: 1.62rem;
}

.border {
  width: 14rem;
  height: 3px;
  margin-top: 0.5rem;
  background: var(--dark-pink-color);
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txtb {
  padding: 1.12rem 2.5rem;
  font-size: 1rem;
  color: var(--dark-pink-color);
  background: var(--light-pink-color);
  /* border: none;
  outline: none; */
  font-weight: 700;
  border-radius: 1.5rem;
  min-width: 320px;
}

.btn {
  /* padding: 8px 42px; */
  font-size: 16px;
  color: var(--light-white-color);
  background: var(--dark-pink-color);
  font-weight: 700;
  border-radius: 1.5rem;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 960px) {
  .footer-container-div {
    max-width: 600px;
  }

  .right-col {
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .newsletter-form {
    flex-wrap: wrap;
  }
  .txtb {
    flex: 1;
  }
  .btn {
    margin-left: 10px;
    min-width: 512px;
    margin-top: 10px;
  }
}
