@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Jua', sans-serif;
  background-color: var(--main-background-color);
}

.login-form-title {
  color: var(--footer-font-color);
  margin-bottom: 7rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 7rem 1.5rem;
  margin-top: 95px;
  border-radius: 1rem;
  background: var(--dark-yellow-color);
}

.form {
  text-align: center;
  width: 520px;
}

.login-form-email-input,
.login-form-pwd-input {
  width: 20rem;
  height: 2.2rem;
  border: none;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  font-size: 0.9rem;
  font-family: 'Jua', sans-serif;
}

.input-form {
  height: 3rem;
  line-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-icon {
  height: 1.7rem;
  line-height: 1.7rem;
  margin-right: 1rem;
  color: var(--light-orange-color);
}

.login-btn {
  margin-top: 6rem;
  width: 11rem;
  height: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Jua', sans-serif;
  background-color: var(--light-white-color);
  transition: all 300ms linear;
  cursor: pointer;
}

.login-btn:hover {
  transform: scale(1.1);
  color: var(--light-orange-color);
  background-color: var(--middle-yellow-color);
}

.sing-up-link {
  margin-top: 3rem;
  font-size: 1.1rem;
  color: var(--light-orange-color);
  transition: all 0.3s linear;
}

.sing-up-link:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--main-background-color);
}

.input-form label {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
