@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --main-background-color: #fffff5;
  --nav-background-color: #f4d195;
  --footer-font-color: #573924;
  --light-white-color: #ffffff;
  --dark-white-color: #f5f5f5;
  --light-yellow-color: #fffff5;
  --middle-yellow-color: #fff1b9;
  --dark-yellow-color: #ffda8e;
  --middle-beige-color: #fdd692;
  --light-orange-color: #f9a11b;
  --dark-pink-color: #ec7357;
  --light-pink-color: #ffece9;
  --font-size--middle: 1.2rem;
}

.navigation-container {
  width: 100vw;
  font-family: 'Jua', sans-serif;
  position: fixed;
  top: 0;
}

.navigation-container-nav {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  background-color: var(--nav-background-color);
}

.nav__ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__ul li {
  display: flex;
  justify-content: right;
  margin-right: 2rem;
  padding: 0rem 0.2rem;
  color: whitesmoke;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 200ms linear;
}

.nav__ul li:not(:first-child):hover {
  color: var(--light-orange-color);
  border-bottom: solid 1px var(--light-orange-color);
}

.user-img {
  cursor: pointer;
  border-radius: 50%;
}
